<%- include('../common/head') %>
<body>
  <%- include('../common/nav') %>

  <main>
    <div class="flex items-center justify-center pt-10">
      <div class="basis-6/12">
        <h1 class="text-2xl font-bold text-gray-800 mb-4">
          <%= home.id ? 'Update' : 'Add' %> Home
        </h1>
        <form action="/admin/add-home" method="post" enctype="multipart/form-data">
          <input type="hidden" name="id" value="<%= home?.id || '' %>">
          <input
            class="border-2 border-gray-300 rounded-md p-2 w-full mb-3"
            type="text"
            name="name"
            placeholder="Name"
            value="<%= home.name || '' %>"
          />
          <input
            class="border-2 border-gray-300 rounded-md p-2 w-full mb-3"
            type="text"
            name="price"
            placeholder="Price"
            value="<%= home.price || '' %>"
          />
          <input
            class="border-2 border-gray-300 rounded-md p-2 w-full mb-3"
            type="text"
            name="location"
            placeholder="Location"
            value="<%= home.location || '' %>"
          />
          <input
            class="border-2 border-gray-300 rounded-md p-2 w-full mb-3"
            type="file"
            name="image"
            accept="image/jpeg, image/png, image/jpg"
          />
          <textarea
            class="border-2 border-gray-300 rounded-md p-2 w-full mb-3"
            name="description"
            placeholder="Description"
          ><%= home.description || '' %></textarea
          >
          <button
            class="bg-blue-500 text-white rounded-md p-2 cursor-pointer"
            type="submit"
          >
            <%= home.id ? 'Update' : 'Add' %> Home
          </button>
        </form>
      </div>
    </div>
  </main>
</body>
